@import url("https://fonts.googleapis.com/css2?family=Capriola&family=Scada&display=swap");

/* SCROLLBAR */

.box::-webkit-scrollbar {
    width: 15px;
}

.box::-webkit-scrollbar-track {
    display: none;
}

.box::-webkit-scrollbar-thumb {
    background: #16697a;
    border-radius: 20px;
    border: 3px solid #ede7e3;
}

.box::-webkit-scrollbar-track-piece:end {
    margin-bottom: 50px;
}

.box::-webkit-scrollbar-track-piece:start {
    margin-top: 50px;
}

.page {
    display: none;
}

.active {
    display: flex;
}

body {
    background: #16697a;
    display: flex;
    overflow: hidden;
    height: 100vh;
}

.left {
    width: 40%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.right {
    width: 60%;
    height: 100vh;
}

.box {
    width: 339px;
    height: 528px;
    background: #ede7e3;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.25);
    border-radius: 56px;
    /* margin: 5rem 0 0 0; */
    margin: auto;
    padding-top: 1rem;
    overflow: auto;
}

.box a {
    font-family: Scada;
    font-size: 43px;
    line-height: 53px;
    color: #16697a;
    margin-left: 3rem;
    text-decoration: none;
}

.box hr {
    width: 80%;
    height: 2px;
}

/*HOME PAGE*/

#home {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#home h1 {
    font-family: Capriola;
    margin: 17% auto 0 auto;
    font-size: 100px;
    line-height: 125px;
    color: #ede7e3;
    z-index: 2;
    text-decoration: underline solid #ffa62b 8px;
}

button {
    background: #ede7e3;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    border: none;
    font-family: Scada;
    color: #16697a;
}
.addPw {
    width: 412px;
    height: 110px;
    margin: 6rem auto auto auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2.5rem;
    padding-right: 1.5rem;
}

button:hover {
    cursor: pointer;
}

.addPw p {
    font-family: Scada;
    font-size: 43px;
    line-height: 53px;
    color: #16697a;
}

.addPw .plus {
    font-size: 8rem;
    color: #16697a;
}

/*NEW PASSWORD PAGE*/

#newPw {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

input {
    width: 450px;
    height: 70px;
    background: #ede7e3;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    font-family: Scada;
    font-size: 43px;
    line-height: 53px;
    color: #16697a;
    padding-left: 2rem;
    border: none;
}

input::placeholder {
    color: #16697a;
    opacity: 0.5;
}

.password {
    margin-top: 6.6rem;
}

#newPw p {
    font-family: Scada;
    font-weight: bold;
    font-size: 35px;
    line-height: 44px;
    color: #ede7e3;
    margin: 0.1rem;
}

.generate {
    width: 494px;
    height: 70px;
    background: #ffa62b;
    font-weight: bold;
    font-size: 35px;
    line-height: 44px;
    color: #5a534f;
}

.btnContainer {
    width: 494px;
    display: flex;
    justify-content: space-between;
}

.btnContainer button {
    width: 206px;
    height: 70px;
    background: #ede7e3;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    border: none;
    margin-top: 6.6rem;
    font-family: Scada;
    font-size: 43px;
    line-height: 53px;
    color: #16697a;
}

/*PW PAGE*/

#pw {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#pw h1 {
    font-family: Capriola;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 100px;
    line-height: 125px;
    color: #ede7e3;
    z-index: 2;
    text-decoration: underline solid #ffa62b 8px;
}

#pw hr {
    width: 500px;
}

.myPw {
    display: flex;
    flex-direction: row;
    margin: 7rem auto 8rem auto;
}

.value {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 475px;
    height: 110px;
    background: #ede7e3;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    margin-right: 1rem;
}

.value p {
    font-family: Scada;
    font-size: 43px;
    line-height: 53px;
    color: #16697a;
}

.copy {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 110px;
    border-radius: 100px;
    background: #ede7e3;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.25);
}

.copy .fa-copy {
    font-size: 50px;
    color: #16697a;
}

.hiddenCopy {
    opacity: 0;
}

#copied {
    position: absolute;
    top: 380px;
    left: 285px;
    font-family: Scada;
    font-size: 23px;
    color: #ede7e3;
    transition: opacity 0.5s ease;
}

#pw .btnContainer button {
    margin-top: 0;
}

.delete {
    width: 206px;
    height: 76px;
    font-size: 43px;
}

.delete:focus {
    background-color: red;
    color: #ede7e3;
}

.confirm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 250px;
    background: #ede7e3;
    border-radius: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.confirm p {
    font-family: Scada;
    font-size: 2rem;
    color: #16697a;
}

.confirm .btnContainer button {
    margin: 0;
    width: 186px;
    height: 50px;
    font-size: 2rem;
    background-color: #16697a;
    color: #ede7e3;
    box-shadow: none;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}

.hidden {
    display: none;
}

button:active {
    box-shadow: none;
}

.confirm button:focus {
    background-color: #ede7e3;
    color: #16697a;
    border: solid 2px #16697a;
}
